@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix del template de Vite: asegura pantalla completa */
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}

